{% if message %}
    {% for message in messages%}
        <div>
            <strong>
                {{message|safe}}
            </strong>
        </div>
    {% endfor%}
{% else %}
{{order}}
<form method="post" enctype="multipart/form-data">
    {% csrf_token%}
    <label> Upload a file</label>
    <input type="file" name="file">
    <p> Только формат CSV</p>
    <button type="submit"> Загрузить </button>
</form>
{% endif %}
{% extends 'base.html' %}

{% block content %}

  <h4><center><strong>Загрузка файла только формата CSV</strong></center></h4>
<!---{% if message %}
    {% for message in messages%}
        <div>
            <strong>
                {{message|safe}}
            </strong>
        </div>
    {% endfor%}
{% else %}


        <form method="post" enctype="multipart/form-data" id="upload-container" >{% csrf_token%}

            <div class="input-group mb-3">
                <input type="file" name="file"class="form-control" id="inputGroupFile02">---->
                {{ form.as_p }}
                <button class="btn btn-outline-secondary" id="inputGroupFileAddon04" type="submit"> Загрузить </button>
            </div>
        </form>
<!---{% endif %}---->

{% endblock content %}


